<!DOCTYPE>
<html lang="cs">
    <head>
        <title>MVC Micro Framework</title>
        <meta name="author" content="Bc. Richard Fíla">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap&subset=latin-ext"
            rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,700i,800,800i,900,900i&display=swap"
                  rel="stylesheet">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                  crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="../../assets/styles.css" media="all">
            <link rel="shortcut icon" href="#" />
            </head>
            <body>
                <div class="header row">
                    <div class="inner-header">
                        <a href="" class="logo">/mvc_micro_framework</a>
                        <div class="menu">
                            <a href="/mvc">/mvc</a>
                            <a href="/template">/template</a>
                            <a href="/eventDispatcher">/event_dispatcher</a>
                            <a href="/thirdPartiesComponents" class="active">/third_parties_components</a>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="content-top row">
                        <div class="content-top-right">
                            <h1>MVC Micro Framework</h1>
                            <h2>Third Parties Components</h2>
                            <p>
                                MVC Micro Framework dovoluje využívat komponenty třeřích stran. Některé implementuje
                                již v základu.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="text col-md-5 offset-md-1">
                                <h1>HttpFoundation</h1>
                                <h2>Symfony</h2>
                                <p>
                                    Díky <b>HttpFoundation</b> je možné přistupovat k <b>http</b> komunikaci objektově.
                                    Důkladnou dokumentaci k používání HttpFoundation naleznete
                                    <a href="https://symfony.com/doc/current/components/http_foundation.html">zde</a>.
                                </p>
                            </div>
                        </div>
                        <div class="row gray">
                            <div class="text col-md-5 offset-md-6">
                                <h1>Eloquent ORM</h1>
                                <h2>Laravel</h2>
                                <p>
                                    <b>Eloquent</b> nám umožňuje využívat <b>ORM</b> mapování. Bližší informace k
                                    používání Eloquent naleznete
                                    <a href="https://laravel.com/docs/5.8/eloquent">zde</a>.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text col-md-5 offset-md-1">
                                <h1>Monolog</h1>
                                <h2>Logger</h2>
                                <p>
                                    <b>Molog</b> je v současnoti nejoblínějším nástrojem pro logování v PHP systémech.
                                    Více informací <a href="https://github.com/Seldaek/monolog">zde</a>.
                                </p>
                            </div>
                        </div>
                        <div class="row gray">
                            <div class="text col-md-5 offset-md-6">
                                <h1>DI Container</h1>
                                <h2>Pimple</h2>
                                <p>
                                    Jako implementace návrhového vzoru Dependency Injection nám bude spoužit
                                    nejpoužívanější DI konteiner na trhu. <b>Pimple</b>. Podrobná dokkumentace
                                    <a href="https://pimple.symfony.com/">zde</a>.
                                </p>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="outer-footer row">
                    <div class="footer">
                        <div class="inner-footer">
                            <a href="" class="logo">/mvc_micro_framework</a>
                            <div class="menu">
                                <a href="/mvc">/mvc</a>
                                <a href="/template">/template</a>
                                <a href="/eventDispatcher">/event_dispatcher</a>
                                <a href="/thirdPartiesComponents">/third_parties_components</a>
                                <a href="https://github.com/filarichard/MMF_skeleton">/GitHub</a>
                                <a href="https://packagist.org/packages/filarichard/mmf_skeleton">/Packagist</a>
                            </div>
                        </div>
                    </div>
                    <div class="copyright">
                        <span>
                            Copyright &copy; 2019 Bc. Richard Fíla
                        </span>
                    </div>
                </div>
                
            </body>
        </html>